h3
    | {{database.name}}
.row(ng-if="database.status == 'ok'")
    .col-xs-12
        // START panel
        .panel.panel-default
            .panel-heading
                | Tables
            .panel-body
                // START table-responsive
                .table-responsive(ng-if='database.tables')
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th #
                                th Table Name
                                th Rows
                                th Creation Time
                        tbody
                            tr(ng-repeat='table in database.tables')
                                td {{ $index + 1}}
                                td {{ table.Name }}
                                td {{ table.Rows }}
                                td {{ table.Create_time }}
.row(ng-if="charts")
    .col-xs-12
        .panel.panel-default
            .panel-heading
                | Charts
            .panel-body
                .table-responsive
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th #
                                th Chart Name
                                th Template
                                th Query
                        tbody
                            tr(ng-repeat='chart in charts')
                                td {{ $index + 1}}
                                td: a(ui-sref='app.chart({chartId: {{chart.id}} })') {{ chart.name }}
                                td {{ chart.template }}
                                td: code {{ chart.query}}
            .panel-body
                button.btn.btn-primary(ui-sref='app.chartcreate({database: \'{{database.name}}\' }) ') Create New Chart


.row(ng-if="database.status == 'ok'")
    .col-xs-12
        .panel.panel-default
            .panel-heading
                | Actions
            .panel-body
                a.btn.btn-primary(href='api/web/index.php?r=pma') Administration
                button.btn.btn-danger(ng-click='deleteDatabase()') Delete